<!-- About -->
<div class="vr-about vr-background-color">
    <div class="container m-auto py-5">
        <div id="about" class="row">
            <div class="col-sm-10 m-auto">
                <div class="vr-about-profile p3-3 text-center"><img src="assets/images/profile.jpg"/></div>
                <p class="vr-about-name p-3">Victor Caetano Preuss Sthel Wardi</p>
                <p class="vr-about-role p-3">Java Full Stack Developer</p>
                <div class="row vr-about-infos pt-3">
                    <div class="col-sm-4 p-3">
                        <div class="vr-about-section"><i class="fas fa-user-alt"></i> MORE ABOUT ME</div>
                        <div class="vr-about-section-data">
                            <p><i class="fab fa-linkedin"></i> linkedin.com/in/victorwardi</p>
                            <p><i class="fab fa-github"></i> github.com/victorwardi</p>
                        </div>

                    </div>
                    <div class="col-sm-4 p-3">

                        <div class="vr-about-section"><i class="fas fa-comment"></i> CONTACT ME</div>
                        <div class="vr-about-section-data">
                            <p><i class="fas fa-envelope"></i> victorcaetano[at]live[dot]com</p>
                            <p><i class="fas fa-mobile-alt"></i> +55 21982429050</p>
                        </div>


                    </div>
                    <div class="col-sm-4 p-3">
                        <div class="vr-about-section"><i class="fas fa-search-location"></i> WHERE I AM</div>
                        <div class="vr-about-section-data">
                            <p><i class="fas fa-globe-americas"></i>  Rio de Janeiro, Brazil</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
