<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Posts</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <a class="btn btn-sm btn-outline-secondary" routerLink="add" role="button">New</a>
    </div>
    </div>
</div>

<h2>Your posts </h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts | async">
      <td>{{post.id}}</td>
      <td>{{post.title}}</td>
      <td>{{post.date}}</td>
      <td>

        <a routerLink="edit/{{post.id}}"><fa-icon icon="edit" routerLink=""></fa-icon></a>    <a (click)="deletePost(post.id)"><fa-icon icon="trash" ></fa-icon></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
