<!-- Resume -->
<div class="vr-resume">
    <div class="container m-auto py-5">
        <h1 class="py-4 text-center ">EXPERIENCE</h1>

        <section id="experience" class="row mb-5">
            <div class="col-sm-4">
                <h2>What I've done</h2>
            </div>
            <div class="col-sm-8 mt-4">

                <!-- SFE -->
                <div class="row">
                    <div class="col">

                        <h3>Brazilian Post - Correios</h3>
                        <h4>Eletronic Ticket System - Sistema de Fatura Eletrônica - SFE</h4>
                        <h5>Technologies</h5>
                        <ul>
                            <li>Java</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Spring</li>
                            <li>Angular</li>
                            <li>JavaScript</li>
                        </ul>

                        <h4>Brazilian Post`s Santa Claus - Papai Noel dos Correios</h4>
                        <p></p>
                        <h5>Technologies</h5>
                        <ul>
                            <li>Java</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Spring</li>
                            <li>Angular</li>
                            <li>JavaScript</li>
                        </ul>


                    </div>
                </div>

                <!-- Papai Noel -->

                Jan 2012 – Present

                Project descriptionAbout the project Papai Noel dos Correios (CORREIOS Santa Claus)

                Initiative that mainly aims to answer the children who write to Santa Claus and meets their requests,
                whenever possible, of Christmas gifts of those who are in a social vulnerability situation. Conducted in
                all states since 1997, its performance in the past years places it as a main social action developed by
                CORREIOS and the one with the highest national outreach during Christmas.

                Since 2010, CORREIOS has tried to established partnerships with public schools, day-care centers and or
                public shelters which assist children in situation of social vulnerability. The reason is that CORREIOS
                Santa Claus is aligned to one of the Millennium Development Goals established by the United Nations
                Organization (UNO), denominated “Achieve Universal Primary Education”.

            </div>
        </section>
    </div>
</div>
