<!-- Experience -->
<div class="vr-experience vr-background-color">
    <div class="container m-auto py-5">
        <h1 class="py-4 text-center ">EXPERIENCE</h1>

        <div id="experience" class="row pb-5">

            <div class="col-sm-10 pt-4 m-auto">
                <div class="vr-timeline">

                    <!-- Correios -->
                    <div class="vr-timeline-left">

                        <div class="vr-timeline-container company">
                            <div class="vr-timeline-content-mark"></div>
                            <div class="vr-timeline-content">
                                <p class="vr-timeline-company">
                                    <img src="../../../../assets/images/correios.png" height="20" width="28"/>
                                    Brazilian Post (Correios)</p>
                                <p class="vr-timeline-period">Rio de Janeiro, Brazil - 2011 - Present</p>
                                <p class="vr-timeline-job">Software Developer</p>
                                <p>One of the largest companies in the country with more than 100,000 employees. The
                                    Brazilian Post is a state-owned company that operates the national postal service.
                                </p>
                            </div>
                        </div>

                        <div class="vr-timeline-container vr-timeline-container-sub project">
                            <div class="vr-timeline-content-mark "></div>
                            <div class="vr-timeline-content">
                                <p class="vr-timeline-project">Electronic Invoice System</p>
                                <p class="vr-timeline-project-desc">System responsible for issuing the invoice
                                    (bank slip) and the invoice statement, through the Internet, for more than 20,000
                                    clients.
                                </p>
                                <p class="vr-timeline-project-role">Developed using Java EE, EJB3, JSF 2 (Primefaces),
                                    Facelets, CDI, JPA, Hibernate and Web Services. Reports created with Jasper.
                                    Versioned with Subversion SVN, built and delivered automatically with Maven and
                                    Jenkins.
                                    Refactored following Clean Code and SOLID principles, making the code more legible
                                    and easy to maintain.
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- VictorRun -->
                    <div class="vr-timeline-right-middle">

                        <div class="vr-timeline-container side-project">
                            <div class="vr-timeline-content-mark"></div>
                            <div class="vr-timeline-content">
                                <p class="vr-timeline-company"><img src="../../../../assets/images/logo.png"
                                                                    height="20" width="20"/> Victor Run </p>
                                <p class="vr-timeline-period">Rio de Janeiro, Brazil - 2012 - Present</p>
                                <p class="vr-timeline-job">Founder/Developer</p>
                                <p class="vr-timeline-project-desc">My personal website.</p>
                                <p class="vr-timeline-project-role">Front-end developed with Angular,HTML, Bootstrap,
                                    CSS,
                                    Javascript and hosted at Google Firebase Cloud.
                                    Back-end APi developed with Java, Spring, Spring Boot with MongoDB and hosted at
                                    Heroko.
                                </p>
                            </div>
                        </div>

                    </div>

                    <!-- Correios projects -->
                    <div class="vr-timeline-left">

                        <div class="vr-timeline-container vr-timeline-container-sub project">
                            <div class="vr-timeline-content-mark "></div>
                            <div class="vr-timeline-content">
                                <p class="vr-timeline-project">Batch Routine Programs</p>
                                <p class="vr-timeline-project-desc">Routines responsible for ensuring that a large
                                    number of data is transferred from a internal database to the IPS (International
                                    Postal System) . Older routines were returning false positives, these new routines
                                    ensure that more than 450,000 are sent and around 150,000 are received.
                                </p>
                                <p class="vr-timeline-project-role">Developed using Java 8, Threads, JDBC for read and
                                    write into SQL Server and Oracle databases.
                                </p>
                            </div>
                        </div>

                        <div class="vr-timeline-container vr-timeline-container-sub project">
                            <div class="vr-timeline-content-mark "></div>
                            <div class="vr-timeline-content">
                                <p class="vr-timeline-project">Post’s Santa Claus</p>
                                <p class="vr-timeline-project-desc">System developed to manager a social project created
                                    to deliver gift to children in social vulnerability. The system controls, who sent
                                    the letter, who adopt it, when a person delivered the gift and when the child
                                    received it. More than 1 million letters were sent in 2018 and at least 500,000
                                    gifts were delivered.
                                </p>
                                <p class="vr-timeline-project-role">Developed and maintained using ColdFusion, HTML,
                                    CSS, Javascript, Jquery, Weservices. Data persisted in SQL Server database.
                                    Versioned with Subversion SVN and delivered automatically with Jenkins.
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Corrida Urbana -->
                    <div class="vr-timeline-right-middle">

                        <div class="vr-timeline-container side-project">
                            <div class="vr-timeline-content-mark"></div>
                            <div class="vr-timeline-content">
                                <p class="vr-timeline-company"><img src="../../../../assets/images/corridaurbana.png"
                                                                    height="16" width="30"/> Corrida Urbana</p>
                                <p class="vr-timeline-period">Rio de Janeiro, Brazil - 2012 - Present</p>
                                <p class="vr-timeline-job">Founder/Developer</p>
                                <p class="vr-timeline-project-desc">One of the most important portals about Running in
                                    Rio de Janeiro. Specialized in news, events and product reviews.</p>
                                <p class="vr-timeline-project-role">Developed with Wordpress, personalized with
                                    plugins made in PHP, Javascript and CSS.
                                </p>
                            </div>
                        </div>

                    </div>


                    <!-- Correios projects -->
                    <div class="vr-timeline-left">
                        <div class="vr-timeline-container vr-timeline-container-sub project">
                            <div class="vr-timeline-content-mark"></div>
                            <div class="vr-timeline-content">
                                <p class="vr-timeline-project">Post’s Santa Claus</p>
                                <p class="vr-timeline-project-desc">System developed to manager a social project
                                    created
                                    to deliver gift to children in social vulnerability. The system controls, who
                                    sent
                                    the letter, who adopt it, when a person delivered the gift and when the child
                                    received it. More than 1 million letters were sent in 2018 and at least 500,000
                                    gifts were delivered.
                                </p>
                                <p class="vr-timeline-project-role">Developed and maintained using ColdFusion, HTML,
                                    CSS, Javascript, Jquery, Weservices. Data persisted in SQL Server database.
                                    Versioned with Subversion SVN and delivered automatically with Jenkins.
                                </p>
                            </div>
                        </div>

                    </div>


                    <!-- Petrobras -->
                    <div class="vr-timeline-right">

                        <div class="vr-timeline-container company">
                            <div class="vr-timeline-content-mark"></div>
                            <div class="vr-timeline-content">
                                <p class="vr-timeline-company">
                                    <img src="../../../../assets/images/petrobras.png"/>
                                    Petrobras (outsourced) </p>
                                <p class="vr-timeline-period">Rio de Janeiro, Brazil - 2009 - 2011</p>
                                <p>A publicly-held company operating on an integrated basis and specializing in the oil, natural gas and energy industry.
                                </p>
                                <p class="vr-timeline-job">Java Developer</p>
                                <p class="vr-timeline-project-role">Development and maintenance of Java Web Systems
                                    using JavaEE, Hibernate, Spring MVC, JSP, Maven, Weblogic and Oracle Database.
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Imago -->
                    <div class="vr-timeline-right">

                        <div class="vr-timeline-container company">
                            <div class="vr-timeline-content-mark"></div>
                            <div class="vr-timeline-content">
                                <p class="vr-timeline-company">Imago IT Solutions </p>
                                <p class="vr-timeline-period">Rio de Janeiro, Brazil - 2008 - 2009</p>
                                <p class="vr-timeline-job">Java Developer Intern</p>
                                <p>My first contact with enterprise projects using Java EE. This internship helped me to grow as a software developer and opened great opportunities in my career.
                                </p>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
