<footer class="vr-footer">

    <div class=" container m-auto py-5">
        <div class="row">
            <div class="col text-center">

                <div class="vr-footer-logo">
                    <img src="../../../assets/images/logo.png" class="vr-logo m-4"/>
                </div>
            </div>
        </div>

        <div class="row py-4">
            <div class="col text-center">
                <div class="vr-footer-menu w-100 my-4">
                    <ul>
                        <li>
                            <a href="#"><i class="fas fa-flask"></i> EXPERIENCE</a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-graduation-cap"></i> EDUCATION</a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-laptop-code"></i> TECHNOLOGIES</a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-coffee"></i> ESPRESSO TIPS</a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-running"></i> RUNS</a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-address-card"></i> ABOUT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col text-center">
                <p class="w-100">
                    <a href=""><i class="fab fa-github mx-2"></i></a>
                    <a href=""><i class="fab fa-linkedin mx-2"></i></a>
                    <a href=""><i class="fab fa-github mx-2"></i></a>
                    <a href=""><i class="fab fa-github mx-2"></i></a>
                </p>
            </div>
        </div>


    </div>

    <div class="row  vr-footer-infos">
        <div class="col">
            <p class="p-2 mb-0 ">Victor.run - Victor Caetano Preuss Sthel Wardi - 1985 - Software Developer since
                2008.</p>
        </div>
    </div>

</footer>

