<footer class="vr-footer">
    <div class="container-fluid py-3">
        <div class="col-12 text-center">
            <div class="row">
                <h1 class="w-100"><img src="../../../assets/images/logo.png" class="logo-width m-4"/> Victor.run</h1>
                <h2 class="w-100">hi@victor.run</h2>
                <p class="w-100">I'm a software developer</p>
            </div>
        </div>

        <div class="col-12 text-center">
            <div class="row">
                <!-- MENU -->
                <div class="col-sm-4">
                    <div class="row">
                        <h1 class="w-100">Menu</h1>
                        <ul class="w-100">
                            <li>Home</li>
                            <li>Resume</li>
                            <li>Projects</li>
                            <li>Expresso Tips</li>
                        </ul>
                    </div>
                </div>
                <!-- MENU -->
                <div class="col-sm-4">
                    <div class="row">
                        <h1 class="w-100">Menu</h1>
                        <ul class="w-100">
                            <li>Home</li>
                            <li>Resume</li>
                            <li>Projects</li>
                            <li>Expresso Tips</li>
                        </ul>
                    </div>
                </div>
                <!-- MENU -->
                <div class="col-sm-4">
                    <div class="row">
                        <h1 class="w-100">Menu</h1>
                        <ul class="w-100">
                            <li>Home</li>
                            <li>Resume</li>
                            <li>Projects</li>
                            <li>Expresso Tips</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 text-center vr-footer-infos">
        <div class="row">
            <p class="m-4 w-100">Software Developer since 2008.</p>
        </div>
        <div class="row">
            <p class="w-100">
                <a href=""><i class="fab fa-github mx-2"></i></a>
                <a href=""><i class="fab fa-linkedin mx-2"></i></a>
                <a href=""><i class="fab fa-github mx-2"></i></a>
                <a href=""><i class="fab fa-github mx-2"></i></a>
            </p>
        </div>
    </div>
</footer>

