.vr-header{
    /*border-bottom: 3px solid var(--tealColorAccent);*/
}

.vr-header i.fas {
    margin-right: 5px;
}
.vr-menu:hover > li a{
    color: #6d6d6d !important;
    /*transition: color 170ms ease-in-out, background-color 170ms ease-in-out;*/
   transition: background .2s ease-in 0s;
}

.vr-menu > li a:hover{
    color: #32ffd0 !important;
    transition: color 170ms ease-in-out, background-color 170ms ease-in-out;
}



.drawer-filter {
    position: relative;
    right: -1000px;
    z-index: 2;
    background: #494949;
    margin: 0;
    width: 85vw;
    min-height: calc(100vh - 113px);
    transition: all 0.3s;
    transform: translateX(0px);
    overflow: visible;
    overflow-y: auto;
    height: 100%;
    overflow-x: hidden;
}
.open{
     right: -1px;
 }
