<div class="vr-header">
    <nav class="navbar navbar-expand-lg navbar-dark" >
        <a class="navbar-brand" routerLink="/"><img src="assets/images/logo.png" class="vr-logo m-4"/>Victor.run</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#vr-menu-mobile"
                aria-controls="vr-menu-mobile" [attr.aria-expanded]="showMenu" aria-label="Toggle navigation"
        (click)="toogleMenu()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse drawer-filter text-center" [ngClass]="{'open' :showMenu}" [ngbCollapse]="!showMenu"  id="vr-menu-mobile">
            <ul class="navbar-nav ml-auto vr-menu">
                <li class="nav-item px-4">
                    <a class="nav-link" routerLink="/resume" ><i class="fas fa-flask"></i> EXPERIENCE</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link" routerLink="/education"><i class="fas fa-graduation-cap"></i> EDUCATION</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link" routerLink="/skills"><i class="fas fa-laptop-code"></i> SKILLS</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link" routerLink="/espresso-tips"><i class="fas fa-coffee"></i> ESPRESSO TIPS</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link" routerLink="/runs"><i class="fas fa-running"></i> RUNS</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link" routerLink="/about"><i class="fas fa-address-card"></i> ABOUT</a>
                </li>
            </ul>
        </div>
    </nav>

</div>

