.vr-welcome {


    /* Sizing */
    height: 100vh;

    /* Flexbox stuff
    display: flex;*/
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;




}



