<div class="vr-home ">
<div class="vr-welcome container">
    <div class="row">
        <div class="col-12 m-auto">
            <h1>Hey there! I'm a software developer from Brazil.</h1>
            <h3>These is my personal website where I can talk about coding and running.</h3>
            <div class="py-5">
                <a class="vr-button" routerLink="/resume">MY RESUME</a>
            </div>

        </div>
    </div>
</div>
    <app-terminal></app-terminal>
    <app-experience></app-experience>
    <app-repositories></app-repositories>
</div>
