.vr-skills {
    --skillCompleteColor: var(--tealColorAccent);
    --skillIncompleteColor: #154B4A;
}

.vr-skills ul {
    list-style: none;
    padding-left: 0;
}

.vr-skill .progress {
    background-color: var(--textColor) !important;
    height: 1.5rem !important;
}

.vr-skill-progress-bg {
    background-color: var(--tealColor) !important;

}

.vr-skill-years-progress > i {
    font-size: 1.5rem;
}

.vr-skill-year-complete {
    color: var(--skillCompleteColor);
}

.vr-skill-year-incomplete {
    color: var(--skillIncompleteColor)
}




