<div class="vr-terminal-resume" >
    <div class="container m-auto py-5">
        <h1 class="py-4 text-center" >Terminal Resume</h1>
        <p class="py-3  text-center">This is a nerd resume. You only need to type some commands to see my whole work experience.</p>

        <div class="row px-4">
            <div class="col-md-10 vr-terminal m-auto" (mouseenter)="onMouseEnterTerminal()">

                <div class="row ">
                    <div class="col">
                        Victor.Run - Type 0 (zero), 'h' or help to see commands.
                    </div>
                </div>


                <div class="row">
                    <div class="col">

                        <div class="terminal-commands" #customScrollbar id="custom-scrollbar">

                            <div class="vr-terminal-response my-2"
                                 *ngFor="let commandLine of terminalLines; let last = last" [innerHTML]="commandLine">
                                {{last ? scrollTerminalToBottom() : ''}}
                            </div>

                            <div class="terminal-command-input my-2">
                                <input type="text"
                                       id="commandInput"
                                       #terminalInput
                                       (keyup.enter)="onUserClickEnter(terminalInput.value)"
                                       [(ngModel)]="commandInput"
                                       name="commandInput"
                                       />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
