<div class="vr-resume vr-background-color">
    <div class="container m-auto py-5 ">
        <h1 class="py-5 m-5 text-center">EDUCATION</h1>
        <div class="row mb-5 text-center">
            <div class="col-sm-10 m-auto">

                <h3><b>Post-graduated in Information Systems Management</b>, UCAM - 2011</h3>
                <h3><b>B.Sc. in Information Systems</b>, UNIGRANRIO - 2007</h3>

                <h1 class="py-5 m-5">CERTIFICATIONS</h1>


                <img class="m-3 " src="assets/images/java8.gif" width="120" style="background: #ffffff"/>
                <h3>OCAJP 8 - Java SE 8 Programmer I</h3>
                <p>Oracle
                    <a href="assets/images/certificateJava8.jpg" target="_blank">
                        <i class="fas fa-file-download"></i>
                    </a>
                </p>


                <img class="m-3 mt-5" src="assets/images/java5web.gif" width="120"/>
                <h3>SCWCD 5 - Java EE 5 Web Component Developer</h3>
                <p>Sun Microsystems
                    <a href="assets/images/certificateJava5web.jpg" target="_blank">
                        <i class="fas fa-file-download"></i>
                    </a>
                </p>


                <img class="m-3 mt-5" src="assets/images/java5.gif" width="120"/>
                <h3>SCJP 5 - Sun Certified Java 5 - Programmer</h3>
                <p>Sun Microsystems
                    <a href="assets/images/certificateJava5.jpg" target="_blank">
                        <i class="fas fa-file-download"></i>
                    </a>
                </p>

            </div>
        </div>

    </div>
</div>
