<div class="vr-resume">
    <div class="container m-auto py-5">
        <h1 class="py-4 text-center ">EDUCATION</h1>
        <p class="py-3  text-center">
            This is my complete resume. If you want a more interactive approach, try my terminal resume.
        </p>

        <div class="row mb-5">
            <div class="col-sm-4">
                <h2>My Certifications</h2>
            </div>
            <div class="col-sm-8 mt-4">
                <div class="row">
                    <div class="col">
                        <h3>OCAJP 8 - Java SE 8 Programmer I</h3>
                        <p>Oracle</p>
                        <h3>SCWCD 5 - Java EE 5 Web Component Developer</h3>
                        <p>Sun Microsystems</p>
                        <h3>SCJP 5 - Sun Certified Java 5 - Programmer</h3>
                        <p>Sun Microsystems</p>
                    </div>
                </div>
            </div>
        </div>


        <!-- Education -->
        <div class="row mb-5">
            <div class="col-sm-4">
                <h2>What I've studied</h2>
            </div>
            <div class="col-sm-8 mt-4">
                <div class="row">
                    <div class="col">
                        <h3>Day-to-day Coding</h3>
                        <ul>
                            <li>Java</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Spring</li>
                            <li>Angular</li>
                            <li>JavaScript</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
