h1, h2, h3, h4, h5, h6{
font-weight: 300 !important;
}

html {
    scroll-behavior: smooth;
}
body{

    /*background-color: #333333 !important;*/
}
li{
  margin-top: 10px;
  margin-bottom: 10px;
}
.vr-content{
  max-width: 1000px;
}


.logo-width{

    max-width: 200px;
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}
.card-language{

    max-width: 18rem  !important;
    padding: 0px !important;

}
.card-title-mark{
    height: 20px;
    width: 20px;
    margin-top: 2px;
    margin-right: 10px;
    display: block;
    float: left;
}

/*********** RESUME **********/

#resume h3{
  /*font-size:  1.25rem;*/
}


/************  ANIMATIONS *************/

.fade.ng-enter {
    animation: 2s appear;
}

.fade.ng-leave {
    animation: 1s disappear;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
