
<div class="alert" [ngClass]="success ? 'alert-success' : 'alert-danger'" role="alert" *ngIf="success || error">
  {{message}}
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h4 class="mb-0"><span *ngIf="item.title">{{item.title}}&nbsp;</span><span class="post-title-disabled" *ngIf="!item.title">Post Title...</span></h4>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <!--<a class="btn btn-sm btn-outline-secondary" role="button" (click)="addNewPost()">New</a>-->
      <a class="btn btn-sm btn-outline-secondary" role="button" routerLink="/admin/posts/add">New</a>
    </div>
  </div>
</div>
<form #postForm="ngForm">
  <div class="form-group">
    <label for="post-title">Title </label>
    <input [(ngModel)]="item.title" name="title" type="text" class="form-control" id="post-title">
  </div>
  <div class="form-group">
    <angular-editor  [(ngModel)]="item.content" [config]="editorConfig" name="content"></angular-editor>
    <!--<textarea [(ngModel)]="post.content"  name="content" class="form-control" id="post-content" rows="3"></textarea>-->
  </div>
  <div class="text-right">
    <button type="button" (click)="onSubmit()" class="btn btn-primary">{{buttonLabel}}</button>
    <button type="button" (click)="onCopy()" class="btn btn-info ml-2" *ngIf=" buttonLabel === 'Update'">Save as a Copy</button>
    <button type="button" (click)="onDelete()" class="btn btn-danger ml-2" *ngIf=" buttonLabel === 'Update'">Delete</button>
    <a routerLink="../../" class="btn btn-secondary ml-2">Return</a>

  </div>
</form>
